body {
    background-color: #180e0c;
    color: #e5faff;
}

table, th, td {
}

a {
    color: #91acc5;
}

table {
    border-collapse: collapse;
}

#header {
}

#buttons {
    width: 25%;
    float: right;
}

#character-list {
}

#abilities {
    width: 60%;
    border: 3px solid #997caa;
}

#saves {
    width: 60%;
    border: 3px solid #c56867;
}
