<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rerole</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script>
        var C_ID = "{{ character_id }}";
    </script>
    <script defer src="{{ url_for('static', filename='rerole.js') }}"></script>
</head>

<body>
<div class="main-wrapper">
    <div class="header">
        <p>To contribute, visit <a href="https://github.com/matthew-hale/pf-rerole">the pf-rerole project on GitHub</a></p>
        <div class="buttons">
            <a href="{{ url_for('site.index') }}">Home</a>
            <a href="{{ url_for('site.logout') }}">Logout</a>
        </div>
    </div>
</div>

<form id="form">
<div id="character-sheet">
    <div id="general">
    </div>
    <div id="abilities">
    </div>
    <div id="saves">
    </div>
    <div id="feats">
    </div>
</div>
</form>

</body>
</html>
