<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rerole</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
<div id="header">
    <h1>Welcome {{ username }}</h1>
    <h2>Characters:</h2>
</div>
<div id="buttons">
    <a href="{{ url_for('site.logout') }}">Logout</a>
</div>
<div id="character-list">
    <ul>
        {% for c in data %}
        <li>
            <a href="{{ url_for('site.character', character_id=c['id']) }}">name: {{ c['name'] }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
