<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rerole</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
    <script async src="{{ url_for('static', filename='index.js') }}"></script>
</head>

<body>
<div id="main-wrapper">

<div id="header">
    <p>To contribute, visit <a href="https://github.com/matthew-hale/pf-rerole">the pf-rerole project on GitHub</a></p>
    <div class="buttons">
        <a href="{{ url_for('site.logout') }}">Logout</a>
    </div>
</div>

<div id="character-list">
    <h2>Characters</h2>
    <div class="buttons">
        <button onclick=create_character()>New Character</button>
    </div>
</div>

</div>
</body>
</html>
