<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rerole</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}"/>
</head>

<body>
<div id="main-wrapper">

<div id="header">
    <p>To contribute, visit <a href="https://github.com/matthew-hale/pf-rerole">the pf-rerole project on GitHub</a></p>
    <div class="buttons">
        <a href="{{ url_for('site.logout') }}">Logout</a>
    </div>
</div>

<div id="character-list">
    <h2>Characters</h2>
    {% for c in data %}
    <div class="description">
        <h3>{{ c['name'] if c['name'] != '' else 'Unnamed'}}</h3>
    </div>
    <div class="buttons">
        <a href="{{ url_for('site.character', character_id=c['id']) }}">View</a>
    </div>
    {% endfor %}
</div>

</div>
</body>
</html>
